@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:  hsl(212, 45%, 89%);
    height: 100%; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    max-width: 375px;
    height: 570px;
    border: 4px solid black;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    position: relative;
}
.qr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.qrImg{
    margin:20px;
    border-radius: 20px;
    width:330px;
}
.text{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    margin: 10px 45px 40px 45px;
}
.text>h1{
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
    font-weight: 700;
}
.text>p{
   color: hsl(220, 15%, 55%);
   font-weight: 400;
   font-size: 15px;
}

